<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LLC_SportsGoods.Properties.Settings.connectionString"
            connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=SportsProductsLazarev;Data Source=MEPHI3-MSSQL" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>